@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: none;
}
.container {
  width: 85%;
  max-width: 1440px;
  margin: 0px auto;
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}
#group {
  max-width: 1440px;
}
#main-bg {
  background-image: url("../public/resource/backgroundImg.jpg");
  position: relative;
}
#main-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(62px) !important;
  --tw-backdrop-blur: blur(8px) !important;
}
/* start navbar */
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}
div.ant-drawer-body {
  padding: 0 !important;
}
#navbar-default ul li {
  text-align: right;
}
#default-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 42px;
  gap: 8px;
  height: 42px;
  background: linear-gradient(
      154.49deg,
      rgba(121, 117, 131, 0.2) 5.35%,
      rgba(136, 135, 148, 0.2) 83.85%
    ),
    rgba(49, 48, 54, 0.3);
  border-radius: 12px;
  border: none;
  flex-shrink: 1;
  order: 0;
  flex-grow: 0;
}
@media only screen and (max-width: 991px) {
  #default-search {
    width: 100%;
    border-radius: 8px;
    align-items: center;
    display: flex;
  }
  nav {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  #default-search {
    height: 36px;
  }
  nav {
    width: 100%;
  }
}

/* end nav-bar */
#carouselmain {
  margin-top: 73px;
}
div#carousel {
  background-size: cover;
  background-position: top center;
  height: 680px;
  width: 100vw;
  margin: 0px auto;
  background-repeat: no-repeat;
  position: relative;
}
div#carousel::before {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 78.82%,
    rgba(0, 0, 0, 0.8) 96.8%
  );
  background-blend-mode: multiply, normal;
  position: absolute;
  left: 0;
  bottom: 0;
}
.ant-carousel .slick-dots {
  bottom: -4px;
}
.ant-carousel .slick-dots li button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: #7b61ff;
  height: 14px;
  width: 14px;
}
.ant-carousel .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel-main {
  position: relative;
}
#carousel-main .carousel-button-left {
  position: absolute;
  width: 48px;
  height: 48px;
  color: #d4ff00;
  background: linear-gradient(
    154.49deg,
    rgba(164, 164, 164, 0.31) 15.16%,
    rgba(255, 255, 255, 0.06) 83.85%
  );
  backdrop-filter: blur(7px);
  bottom: -28px;
  left: 80px;
  border-radius: 12px;
  border: 1px solid rgba(255, 250, 250, 0.2);
}

#carousel-main .carousel-button-right {
  position: absolute;
  width: 48px;
  height: 48px;
  color: #d4ff00;
  background: linear-gradient(
    154.49deg,
    rgba(164, 164, 164, 0.31) 15.16%,
    rgba(255, 255, 255, 0.06) 83.85%
  );
  backdrop-filter: blur(7px);
  bottom: -28px;
  right: 80px;
  border-radius: 12px;
  border: 1px solid rgba(255, 250, 250, 0.2);
}
@media only screen and (max-width: 991px) {
  #carousel-main {
    padding-top: 73px;
  }
  #carousel-main .carousel-button-left {
    width: 32px;
    height: 32px;
    font-size: x-small;
    border-radius: 8px;
    bottom: -20px;
  }
  #carousel-main .carousel-button-right {
    width: 32px;
    height: 32px;
    font-size: x-small;
    border-radius: 8px;
    bottom: -20px;
  }
}
/* end carousel */

/* swipper movie list */
.swiper-wrapper{
  /* padding: 10px; */
}
.swiper-button-prev {

  color: white !important;
}
.swiper-button-next {
  
  color: white !important;
}

/* start movie list */
.movie-list {
  width: 85%;
  max-width: 1440px;
}
@media only screen and (min-width: 1662) {
  .movie-list {
    max-width: 1440px;
  }
}
.movie-item:hover .play-button {
  opacity: 1 !important;
}
.item-link {
  margin: 16px;
  display: inline-block;
}
.item-link:hover {
  text-decoration: none;
}
.play-button {
  overflow: clip;
  visibility: visible;
}
.play-button svg {
  width: 100%;
}
.ant-card {
  border: none;
  background: #2f274e;
  display: inline-block;
}
.ant-card-cover {
  position: relative;
}
.ant-card-cover .movie-item-outlayer {
  content: "";
  opacity: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}
.movie-item:hover .ant-card-cover .movie-item-outlayer {
  opacity: 1;
  content: "";
  height: 100% !important  ;
  width: 100%;
  background: linear-gradient(to top, #000, transparent 100%) !important;
  z-index: 3;
}
.ant-card-body {
  position: relative;
}
.ant-card-body::before {
  position: absolute;
  backdrop-filter: blur(35px);
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  mix-blend-mode: normal;
}
.ant-card-meta-title #like-button {
  position: absolute;
  z-index: 50;
  overflow: hidden;
  right: 20px;
  bottom: 48px;
  z-index: 1;
}
.ant-card-meta-title #like-button:focus {
  outline: none;
}
.ant-card-meta-title {
  height: 24px;
}
.ant-card-meta-title div h3 {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.ant-card-meta-detail {
  padding-right: 44px;
}
@media only screen and (max-width: 767px) {
  a.item-link {
    margin: 8px;
  }
  .ant-card {
    border-radius: 12px !important;
  }
  .ant-card-meta-title {
    height: 20px;
  }
  .ant-card-body {
    padding: 8px !important;
  }
  .ant-card-meta-title #like-button {
    scale: 0.7;
    bottom: 8px;
    right: 4px;
  }
}

/* end movie list */
/* start movie tab */
#cine-system {
  max-width: 1440px;
}
#cine-system.ant-tabs-nav {
  height: 131px;
}
.ant-tabs-nav-wrap {
  height: 131px;
}
.ant-tabs-nav .ant-tabs-tab .cine-system {
  border-radius: 16px;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.ant-tabs-nav .ant-tabs-tab .cine-system img {
  transition: all 0.3;
}
.ant-tabs-tab-btn:hover .cine-system {
  height: 107px;
  width: 107px;
}
.ant-tabs-tab-btn:hover .cine-system img {
  scale: 1.2;
}
.ant-tabs-nav .ant-tabs-tab .cine-system::before {
  position: absolute;
  backdrop-filter: blur(35px);
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  mix-blend-mode: normal;
}

.ant-tabs-nav .ant-tabs-tab-active .cine-system::before {
  position: absolute;
  backdrop-filter: blur(35px);
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  mix-blend-mode: normal;
}
.ant-tabs-nav .ant-tabs-tab-active .cine-system {
  height: 107px;
  width: 107px;
}
.ant-tabs-nav .ant-tabs-tab-active .cine-system img {
  scale: 1.3;
}

#cine-list .ant-tabs-tab {
  width: 364px;
  height: 70px;
  background-color: rgb(37, 27, 71);
  opacity: 0.8;
  border-radius: 16px;
  margin-right: 60px;
}
#cine-list .ant-tabs-tab-btn {
  z-index: 50;
  overflow: hidden;
  transition: all 0.4s;
  width: 100%;
}

#cine-list .ant-tabs-tab-active {
  background: #9580ff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
}
.ant-tabs-dropdown ul li span div,
.ant-tabs-dropdown ul li span h5 {
  color: #000;
}
#cine-list .cine-name h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
.ant-tabs-nav-operations {
  flex: 0 1 auto !important;
}
/* end cine-system tab */
/* start tab-item */
.ant-tabs-tabpane #schedule-infor {
  padding-left: 46px;
}
.tab-item {
  background: rgba(37, 27, 71, 0.8);
  border-radius: 16px;
  margin-bottom: 12px;
  width: auto;
  height: auto;
  margin-right: 5%;
}
.tab-item .item-content .item-img {
  border-radius: 12px;
  width: 131px;
  height: 158px;
  object-fit: cover;
}
.tab-item .content-infor {
  border-radius: 12px;
}
.tab-item h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7f74b7;
  margin: 8px 0px;
}
.tab-item h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #7f74b7;
  margin-bottom: 8px;
}
.tab-item .schedule-detail {
  width: 93px;
  height: 23px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #7f74b7;
  border: 0.81077px solid #7f74b7;
  border-radius: 6px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tab-item .order-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  width: 185px;
  height: 43px;
  background: #9580ff;
  border-radius: 12px;
  text-decoration: none;
}
#cine-list div.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  width: 4px;
  background: #9580ff;
}
#cine-system div.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  height: 0px;
}
#cine-system .ant-tabs-nav-wrap {
  border-bottom: #9580ff;
}
/* start media mobile and tablet */
@media only screen and (max-width: 991px) {
  div#carousel {
    height: 280px;
  }
  .ant-tabs-tab-btn:hover .cine-system {
    height: 80px;
    width: 80px;
  }
  .ant-tabs-tab-btn:hover .cine-system img {
    scale: 1;
  }
  .ant-tabs-nav .ant-tabs-tab-active .cine-system {
    height: 107px;
    width: 107px;
  }
  .ant-tabs-nav .ant-tabs-tab-active .cine-system img {
    scale: 1.3;
  }
  #cine-system .ant-tabs-tab {
    margin: 0px 4px;
  }
  #cine-list .ant-tabs-tab {
    width: 250px;
    padding: 12px 24px;
    margin: 0px 8px;
  }
  #cine-list .ant-tabs-nav-wrap {
    height: 80px;
  }
  #cine-list div.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    height: 3px;
  }

  .tab-item {
    width: 326px;
    height: auto;
  }
  .tab-item .item-img {
    border-radius: 12px;
    width: auto;
    height: 140px;
    object-fit: cover;
    object-position: top center;
  }
  .ant-tabs-tabpane #schedule-infor {
    padding: 0px;
    margin: auto;
  }
}
/* end tab-item */

/* start footer */
#footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: #2f274e;
}
#footer div.img-logo {
  width: 100%;
}
.logo i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: x-large;
  margin-right: 8px;
}

/* end footer */
/* start screen */
#screen {
  border-bottom: 50px solid gray;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: auto;
  filter: drop-shadow(0px 27px 19px #5f5e5e98);
}
/* end screen */

/* start detail */
#detail-movie img#movie-img {
  width: 273px;
  min-height: 369px;
  object-fit: cover;
  object-position: center center;
  filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.3));
  border-radius: 32px;
}

/* end detail */
